body{
  background-image: url(https://images.unsplash.com/photo-1431263154979-0982327fccbb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGZsb3dlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  padding: 30px;
  border: 1px solid #425F57;
  border-radius: 2px;
  width: fit-content;
}
.par{
  font-size: 30px; 
  font-family: 'Roboto', sans-serif;
  color: #425F57;
  font-weight: bolder;
}
.btn{
  margin-top: 20px;
  background-color: #425F57;
  border: 1px solid #5DA7DB;
  border-radius: 3px;
  width: 250px;
  padding: 18px;
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
.btn:hover{
  background-color: #749F82;
  color: black;
  transition: 1s ease-in;
  cursor: pointer;
}